<!DOCTYPE html>
<html>
  <head>
    <title>TrackTasker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="links">
      <%= link_to 'Customers', customers_path %>
      <%= link_to 'Projects', projects_path %>
      <%= link_to 'Tasks', tasks_path %>
    </div>
    <div class="notifications">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div id="main" class="card">
      <%= yield %>
    </div>
    <div id="footer">
    </div>
  </body>
</html>
